<% provide(:title, "Game") %>

<div class="game_board">
  <div class="col-md-12">

    <div class="turn_info">
      <div class="col-md-12">
        <h1>turn_info</h1>
        <h2>Phase</h2>
        <h2>Instructions</h2>
        <h2>Game button</h2>
      </div>
    </div>
  
  <div class="played_supply_cards">
    <div class="col-md-8">
      <div class="played_cards">
        <h1>played_cards</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="supply_cards">
        <h1>supply_cards</h1>
      </div>
    </div>
  </div>
  
  <div class="hand">
    <div class="col-md-12">
      <h1>hand</h1>
    </div>
  </div>

  </div>
</div>
