<footer class="footer">
  <small>
    The <a href="http://riograndegames.com/Game/278-Dominion">Dominion Card Game Web App</a>
    by <a href="https://github.com/tlskins/">Timothy Lee</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>
